NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=damm
DB_PASSWORD=change-me
DB_NAME=damm
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
OTP_DEV_MODE=true
HEALTH_DATA_KEY=remplacer_par_64_caracteres_hex
